<div type="pills">
<uib-tabset>
<uib-tab ng-repeat = "product in productsSet.products">
	<uib-tab-heading>
	<ul class="nav nav-pills">
	<li>{{product.productname}}</li>
	<li>{{product.cost}}</li>		
	</ul>
	</uib-tab-heading>
	<ul>
		<li ng-repeat="superImpFeature in product.description.superImpFeatures">
			{{superImpFeature}}
		</li>
	</ul>
	<ul>
		<li ng-repeat="impFeature in product.description.impFeatures">
			{{impFeature}}
		</li>
	</ul>
	<ul>
		<li ng-repeat="norFeature in product.description.norFeatures">
		{{norFeature}}
		</li>
	</ul>	
	<button ng-click="addToCart(product)">Add to cart</button>
</uib-tab>
</uib-tabset>
</div>
<div style="padding-left: 20px">
<div ng-repeat ="item in cart.items">
<div class="row">
	<div class="col">
		<button ng-click="addQty(item)">+</button>
	</div>
	<input type="number" name="" ng-model="item.qty">
	<div class="col">
		<button ng-click="removeQty(item)">-</button>
	</div>
	<div class="col">
		<button ng-click="removeItem($index)">X</button>
	</div>
</div>
</div>
<div class="row">
	<div>
		{{total()}}
	</div>
</div>
</div>